

/* Fade in taken from No.3 in Links.txt */
body {  

    font-family:'Fjalla One', serif;
    /* font-family:'Pf Serif', serif; */

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar {
    /* position: sticky; */
    margin-bottom: 0;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.3em;
    border: 0;
    background-color: transparent;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #ffffff;
    background-color: transparent;
}

@media only screen and (max-width: 768px) and (min-width: 200px) {

    /* This pads the hamburger to that it is even on the left and right side of it */
    .navbar-toggle {
        margin: 15px 15px;
    }

    /* This centers the menu options when the menu is collapsed */
    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        margin: 15px 15px;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    /* This still centers the menu options */
    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Copied from  No.2 in Links.txt*/
.callout-container {
    height: 100%;
    width: 100%;
    /* background: url("../images/The_Monkees_May_1967.jpg") no-repeat center center fixed; */

    background: url("../images/monkees.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-lg {
    background: transparent;
    line-height: 50px;
    border: 3px solid white;
    /* display: inline-block; */
    /* float: none; */
    /* text-align: center; */
    width: 150px;
    padding: 0px !important;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease-in 0s;
}

.btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

/* ----------------------------------GALLERY STUFF */


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* --------------------------------------FOOTER STUFF */
.footer {
    position: absolute;

}

.contacts{
    list-style: none;
}
/* ---------------------------------------- */